doctype
html(ng-app="instagramModule")
  head
    meta(charset='utf-8')
    link(href="css/bower_compile.css",rel="stylesheet")
    link(href="css/custom_compile.css",rel="stylesheet")
    script(src="js/bower_compile-min.js")
    script(src="js/custom_compile-min.js")


  body(ng-controller="UserCtrl")

    .wrapper(ng-controller="SearchCtrl")
      .header
        
      
        a.header__home.home(href="/#access_token={{token}}")
          img.home__image(alt="home",src="img/home_icon.png",width="30",height="27")

        div.header__logo
          div.logo
            img.logo__image(alt="logo",src="img/logo.png")
        
        

        a.header__ava.ava(ng-if="me",href="https://api.instagram.com/oauth/authorize/?client_id=5429d8c938fd43058043dfa7e6a13b15&redirect_uri=http://localhost:8080&response_type=token")
          img.ava__image(alt="avatar",src="{{me.profile_picture}}")
        a.header__ava.ava(ng-if="!me",href="https://api.instagram.com/oauth/authorize/?client_id=5429d8c938fd43058043dfa7e6a13b15&redirect_uri=http://localhost:8080&response_type=token")
          img.ava__image(alt="avatar",src="img/login.png")


      div.wrapper__search
        div.search(ng-if="me")
          form.search__form(ng-submit="searchUser(searchtext)")
            input.search__text(type="text",placeholder="Search by hash tag",ng-model="searchtext")


      .auth-warning(ng-if="!token")
        h3 Пожалуйста Авторизуйтесь!!!

      .content(ng-if="token")




        .sidebar
            div.sidebar__user-info.user-info
              .user-info__top
                img.user-info__avatar.ava__image.ava__image--big(src="{{me.profile_picture}}")
                h3.user-info__nickname {{me.username}}
                //span.user-info__miny-description Riley, the Parson Dog
                p.user-info__description {{me.bio}}

                div.user-info__button.user-info__button--following
                  a.button(href="") Following

              div.user-info__statistics
                div.user-info__followers.followers
                  span.followers__count  {{me.counts.followed_by}}
                  br
                  span.followers__cap Followers
                div.user-info__following.following
                  span.following__count {{me.counts.follows}}
                  br
                  span.following__cap Following


                .clearfix
              
              div.user-info__private-site.private-site
                span.private-site__block
                  a.private-site__link(href="{{me.website}}") {{me.website}}
          
          
            div.sidebar__recommended.recommended
              h3.recommended__title Also recommended
              ul.recommended__list
                li.recommended__item
                  div.recommended__ava
                    img.recommended__image(alt="avatar",src="img/avatar.jpg")
                  a.recommended__user
                    span.recommended__name Kostya
                    br
                    span.recommended__description Pro developer 100lvl
                  div.clearfix
                li.recommended__item
                  div.recommended__ava
                    img.recommended__image(alt="avatar",src="img/avatar.jpg")
                  a.recommended__user
                    span.recommended__name Kostya
                    br
                    span.recommended__description Pro developer 100lvl
                  div.clearfix
                li.recommended__item
                  div.recommended__ava
                    img.recommended__image(alt="avatar",src="img/avatar.jpg")
                  a.recommended__user
                    span.recommended__name Kostya
                    br
                    span.recommended__description Pro developer 100lvl
                  div.clearfix
                  
                
          
           
            
          
          
        .main
          div.main__panel.panel
            h2.panel__title
              span.panel__count-post {{photos.length}}
              &nbsp;
              b POSTS
            
            div.panel__burger-line
              a.burger-line(href="#")

            div.panel__burger-square
              a.burger-square(href="#")


            .clearfix
              
          div.main__boxes.boxes
            div.box(ng-repeat="photo in photos")
                a.box__link(href="{{photo.images.standard_resolution.url}}",fancybox=)
                  img.box__image(src="{{photo.images.low_resolution.url}}")

        .clearfix
